@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    height: 100vh;
    background-color: var(--very-dark-blue);
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: Overpass, monospace, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-image: radial-gradient(at top, var(--dark-blue) 10%, hsl(213, 15%, 10%));
    padding: 24px;
    border-radius: 12px;
    justify-content: space-between;
}

.card.hidden {
    display: none;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: var(--medium-grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    background-color: var(--dark-blue);
}

.title {
    font-size: 1.5em;
    color: white;
    font-weight: 600;
}

.title p {
    margin-bottom: .5em;
}

.description {
    font-size: .8em;
    color: var(--medium-grey);
}

.description p {
    margin-top: 0;
    margin-bottom: 1.5em;
}


.ratings {
    display: flex;
    justify-content: space-between;
}

.rating-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    color: var(--medium-grey);
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rating-number span {
    pointer-events: none;
}

.rating-number:hover {
    color: white;
    background-color: var(--medium-grey);
}

.rating-number.active {
    color: white;
    background-color: var(--orange);
}

.submit {
    margin-top: 1em;
}

.submit button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
}

.submit button:hover {
    background-color: white;
    color: var(--orange);
}

#thank-you {
    align-items: center;
}

.rating-description {
    color: var(--orange);
    background-color: var(--dark-blue);
    height: 30px;
    padding: 0 16px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#thank-you .description {
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: var(--orange);
    text-decoration: none;
}

.attribution a:hover, .attribution a:active, .attribution a:focus {
    color: white;
    text-decoration: underline;
}